@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaftan Serif";
  src: url("./assets/fonts/KaftanSerif-Regular.woff2");
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #cd9c31 #fffbf3;
  }

  html {
    @apply overflow-x-hidden;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-luxury;
  }

  a,
  body {
    @apply font-notoSerif;
  }

  span,
  ul,
  li,
  p {
    @apply font-notoSerif;
  } */

  *,
  html,
  body {
    @apply font-notoSerif;
  }

  /* p {
    @apply font-inria-sans;
    @apply font-merriweather-sans;
  } */

  main {
    @apply py-12 px-4 sm:py-24 md:px-12 md:py-[7.5rem] lg:py-[9rem] relative z-10;
  }

  img {
    @apply select-none;
  }

}

@layer components {
  .hover-outline {
    @apply outline outline-2 outline-offset-0 outline-gold/0 hover:outline-gold hover:outline-offset-2 focus:outline-offset-2 focus:outline-gold transition-all duration-200 ease-linear;
  }

  .hero-slider-button {
    /* @apply absolute top-1/2 -translate-y-1/2 rounded-full p-3 border bg-black/20 text-white cursor-pointer group-hover:scale-100 scale-0 transition-all duration-1000; */
    @apply absolute top-1/2 -translate-y-1/2 text-xl p-3 rounded-full outline outline-2 outline-offset-0 outline-gold text-gold hover:text-black bg-black/30 hover:bg-gold group-hover:scale-100 scale-0 hover:outline-gold hover:outline-offset-2 transition-all duration-500 ease-linear;
  }

  .room-slider-button {
    @apply absolute bottom-5 rounded-full py-1 px-6 bg-black/5 group-hover:bg-black/30 backdrop-blur-sm border text-white cursor-pointer transition-all duration-1000;
  }

  .stay-slider-button {
    @apply absolute top-1/2 rounded-full py-1 px-5 bg-gradient text-xl cursor-pointer transition-all duration-1000 hover-outline;
  }

  .hall-slider-button {
    @apply absolute bottom-1/2 bg-gradient py-1 px-5 rounded-full hover-outline cursor-pointer text-lg transition-all duration-200 ease-linear;
  }


  .text-gradient {
    /* background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    text-shadow: 0 0 1px #b399309e; */
    @apply bg-gradient-to-b from-[#f3bf58] from-[27%] via-[#ffecb3] via-[40%] to-[#9a6700] to-[98%] text-transparent bg-clip-text;
  }

  .underline-link {
    @apply text-white text-base font-semibold no-underline transition-all duration-500 underline-offset-2;
  }

  .underline-link:hover,
  .underline-link.active:hover {
    @apply underline underline-offset-8;
  }

  .underline-link.active {
    @apply underline underline-offset-4;
  }

  ul:hover li {
    @apply opacity-50 blur-[0.5px] transition-all duration-300 ease-linear;
  }

  ul li:hover {
    @apply opacity-100 blur-0 transition-all duration-300 ease-linear;

  }
}

@layer utilities {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}